language: node_js
node_js:
  - "0.12"
# command to install dependencies
install:
  - "sudo apt-get install sqlite3"
  - "npm install"

# command to run tests
script:
  - 'jshint ./src'
  - 'jshint ./tests'
  - 'npm run migrate'
  - 'npm test'
